.bg {
    padding: 2rem;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bg h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.75rem;
}

.bg button {
    border-radius: 25px;
    padding: 1rem 3rem;
    font-size: 1rem;
    background-color: blanchedalmond;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease; /* Apply transition to both background-color and color */
}

.bg button:hover {
    background-color: pink;
    
}

.show-case {
    padding: 2rem; 
    display: flex;
    border: 3px grey solid;
}

