#gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    grid-gap: 3rem;
    padding: 3rem;
}

#gallery img {
    height: 200px;
    width: auto;
}

#filter {
    display: flex;
    gap: 3rem;
}

#filter li.active {
    color: red;
    transition: color 0.3s ease; 
}
