#gallery {
    min-height: calc(100vh - 260px);
    display: grid;
    gap: 15px;
    grid-gap: 3rem;
    padding: 3rem;
    grid-template-columns: repeat(2, 1fr);
}

#gallery img {
    height: auto;
    width: 100%;
}

@media screen and (min-width: 600px) {
    #gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    #gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* #filter, .filter_top, .filter_bottom {
    gap: 3rem;
}

@media (max-width: 768px) {
    #filter {
        flex-direction: column;
        gap: 1.5rem;
    }
} */

#filter {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
}
  
  
@media (max-width: 769px) {
  #filter {
    grid-template-columns: repeat(4, 1fr); 
  }
}

#filter li.active {
    transition: color 0.3s ease; 
}

#filter li:hover{
    transition: color 0.3s ease; 
    color: pink;
    cursor: pointer;
}
