#gallery {
    min-height: calc(100vh - 260px);
    display: grid;
    gap: 15px;
    grid-gap: 3rem;
    padding: 3rem;
    grid-template-columns: repeat(2, 1fr);
}

.animate {
    animation: growAndFade 500ms forwards;
}
  
@keyframes growAndFade {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#gallery img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: auto;
    width: 100%;
}

@media screen and (min-width: 600px) {
    #gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    #gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

#filter {
    white-space: nowrap;
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 2rem;
}

@media (max-width: 769px) {
  #filter {
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr); 
  }
}

@media (max-width: 500px) {
    #filter {
      gap: 0.25rem;
  }
}

#filter li.active {
    transition: color 0.3s ease; 
}

#filter li:hover{
    transition: color 0.3s ease; 
    color: pink;
    cursor: pointer;
}
