:root {
    --nav-bg-c: rgb(241, 191, 186);
    --nav-color: rgb(234, 116, 116);
    --body-bg-c: rgb(237, 234, 231);
    --body-color: rgb(224, 101, 101);
    --hover-color: rgb(241, 152, 152);
    --mobile-menu-bg-c: rgb(241, 152, 152);
    --footer-bg-c: rgb(234, 116, 116);
    --footer-color: rgb(237, 234, 231);
    --button-bg-c: rgb(234, 116, 116);
    --button-hover-bg-c: pink;
    --input-bg-c: rgb(239, 238, 236);

    --accent_one_bg: rgb(234, 116, 116);
    --accent_one: rgb(221, 211, 195);

    --menu-hero-bg-c: rgb(241, 184, 143);
    --menu-hero-color: rgb(248, 219, 197);

    --map-bg-c: var(--menu-hero-bg-c);
    --map-color: var(--menu-hero-color);
    
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

.top-nav, .colorA {
    background-color: var(--nav-bg-c);
    color: var(--nav-color);
}


#about_us {
    background-color: var(--accent_one_bg);
    color: var(--accent_one);
}

body {
    background-color: var(--body-bg-c);
    color: var(--body-color);
}

.mobile-menu .nav-li:hover, .nav-li:hover, .top-ul .active, .side-ul .active, #filter li.active {
    color: var(--hover-color);
}

.mobile-menu {
    background-color: var(--mobile-menu-bg-c);
}

.mobile-menu .nav-li {
    color: var(--nav-bg-c);
}

.footer {
    background-color: var(--footer-bg-c);
    color: var(--footer-color);
}

.button_style {
    background-color: var(--button-bg-c);
    color: var(--footer-color);
}

.button_style:hover {
    background-color: var(--button-hover-bg-c);
}

form textarea, form input {
    box-shadow: 0 4px 8px rgba(157, 147, 147, 0.1);
    background-color: var(--input-bg-c);
}

.menu_hero {
    background-color: var(--menu-hero-bg-c);
    color: var(--menu-hero-color);
}

.faq h {
    background-color: var(--footer-bg-c);
    color: var(--footer-color);
}

.map, .menu_container {
    background-color: var(--map-bg-c);
    color: var(--map-color);
}

nav {
    box-shadow: 0 4px 8px var(--box-shadow-color);
}