.contact-gallery {
    padding: 0rem 2rem;
    display: flex;
    gap: 1rem;
}

.contact_info {
    padding-top: 1rem;
}

form {
    padding: 0 3rem;
    padding-bottom: 3rem;
    gap: 1.5rem;
    width: 100vw;
}

form textarea, form input, .fill {
    max-width: 600px;
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.fill {
    padding: 0 ;
}

#submit-button {
    margin: 0;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    align-self: flex-start;
}

form textarea {
    height: 200px;
}

@media (max-width: 768px) {
    form textarea, form input, .fill {
        width: calc(100% - 2rem);
    }
}

.fill {
    display: flex;
    justify-content: left;
    border: none;
}

#submit-button {
    margin: 0;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    align-self: flex-start;
    align-content: flex-start;
}

.box {
    width: 100vw;
    padding: 1rem 3rem;
}

.gallery-container {
    flex: 1;
    max-width: 800px;
    gap: 1rem;
    padding: 2.5rem 0rem;;
}

.image {
    width: 100px;
    flex: 1;
    height: auto;
}
