.top-nav, .colorA{
    background-color: rgba(245,206,189,255);
    color: rgba(202,132,110,255);
}

body {
    background-color: rgba(245,241,238);
    background-color: red;
    color: rgb(182, 142, 107);
}

.mobile-menu .nav-li:hover, .nav-li:hover, .top-ul .active, .side-ul .active, #filter li.active {
    color: pink;
}

.mobile-menu {
    background-color: rgba(221, 221, 221, 0.845);
}

.mobile-menu .nav-li{
    color: white;
}

.footer {
    background-color: rgb(227, 234, 249);
}

.button_style {
    background-color: rgb(224, 229, 255);;
}

.button_style:hover {
    background-color: pink;
}

form textarea, form input {
    border: 1px solid #ccc;
    background-color: rgb(194, 138, 214);
}
