
.top-nav {
    background-color: white;
}

.mobile-menu .nav-li:hover, .nav-li:hover, .top-ul .active, .side-ul .active{
    color: pink;
}

.mobile-menu {
    background-color: rgba(221, 221, 221, 0.845);
}

.mobile-menu .nav-li{
    color: white;
}

.footer {
    background-color: rgb(227, 234, 249);
}

.button_style {
    background-color: rgb(224, 229, 255);;
}

.button_style:hover {
    background-color: pink;
}

.colorA{
    background-color: rgb(224, 229, 255);
}
