.map {
    background-color: antiquewhite;
    padding: 3rem;
    width: 100vw;
}


iframe {
    width: 600px;
    height: 300px; 
    filter: grayscale(50%) invert(92%) contrast(83%);
}

@media (max-width: 650px) {
    iframe { 
        width: 500px;
    }
}


@media (max-width: 500px) {
    iframe { 
        width: 400px;
    }
}
