.map {
    padding: 2rem 1rem;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: antiquewhite;
    justify-content: center;
    gap: 3rem;
}

.map h3 {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    font-style: italic;
    white-space: no-wrap;
    text-align: center;
}

.map img{
    width: 400px;
}

.map ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.map li {
    text-transform: none;
}