#menu h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 0.85rem;
}

#flavours p {
    padding-bottom: 1.5rem;
}

#flavours {
    padding-bottom: 2rem;
}

#menu h2 {
    padding-top: 2rem;
}

/* #menu .flavor p {
    max-width: 600px;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 0.75rem;
    padding-right: 2rem;
    padding-left: 2rem;
} */

#menu .header_line {
    padding-top: 3rem;
    padding-bottom: 0rem;
}

.menu_container, .menu_hero {
    background-color: antiquewhite;
    padding-bottom: 3rem;
    width: 100vw;
}

#sizing_guide {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
}

#sizes p {
    text-align: center;
}

#sizing_guide p {
    padding: 0 2rem;
    max-width: 700px;
}

#menu {
    padding-right: 3rem;
    padding-left: 3rem;
}

.menu_container {
    padding-right: 1rem;
    padding-left: 1rem;
}

#sizing_guide p {
    max-width: 650px;
    font-size: 0.75rem;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

